@{
    ViewData["Title"] = "Home Page";
}

@model BookListViewModel

@*Header for our home page as well as the for each to loop through and display the different books and their info with bootstrap styling to separate out the different books*@


<body class="text-center">
    @foreach (var x in Model.Books)
    {
    <div class="bg-dark list-group-item text-white text-md-left">
        <h5>Book Title: @x.Title</h5>
        <h6>Written By: @x.AuthorFirst @x.AuthorMiddle@x.AuthorLast</h6>
        <p>Publisher: @x.Publisher</p>
        <p>ISBN #: @x.ISBN</p>
        <p>Classifcation/Category: @x.Category</p>
        <div class="card-text p-1">
            <p>Price: @x.Price</p>
            <p>Number of Pages: @x.NumPages</p>
        </div>
        
    </div>
    }

    <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn"
     page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary"
     class="btn-group-sm m-1"></div>
</body>

   